@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <style>
    
        .head {
            color: #D6336C;
            text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff4081, 0 0 20px #ff4081;
        }
        p{
            color: #495057;
        }
        .link{
            color: #D6336C;
            text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #ff4081, 0 0 20px #ff4081;
            text-decoration:none;
        }
        .link:hover{
                color: #495057;
        }
        html, body {
            height: 100%;
        }

        body {
            display: flex;
            flex-direction: column;
            background-color: #FFF5F8; 
        }

        .privacy-link {
            color: #D6336C;
            text-decoration: none;
            font-weight: 600;
            transition: all 0.3s ease;
        }

            .privacy-link:hover {
                color: #ff4081;
                text-shadow: 0px 0px 8px rgba(255, 64, 129, 0.2);
                text-decoration: underline;
            }
    </style>
}
<div class="text-center">
    <h1 class="display-4 head">Welcome To Our Website </h1>
    <p>Learn about our  <a  class="link" asp-area="" asp-controller="Products" asp-action="Index">Products </a>
 happy shopping !</p>
</div>
