@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>
@{
    ViewData["Title"] = "Index";
}

<h1>users</h1>


<table class="table">
    <thead>
    <th>
        Name
    </th>

    </thead>
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Email</td>
            <td>@role.Id</td>

        </tr>
    }
</table>
