@{
    ViewData["Title"] = "Home Page";
}
@section Icons {
    <link rel="icon" type="image/x-icon" href="~/Icons/Death_Star_2nd_35408.ico">
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
